<% content_for :title do %>Incognito<% end %>
<% content_for :description do %>Incognito App<% end %>
<section>
	<img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/510401-db6b4e93a6d51803fb291e3a246fd29d-medium_jpg.jpg?buster=1413269715">
</section>

<section>
	<div class="column">
		<h2> Incognito </h2>
	</div>
	<p> Incognito app is an anonymous messaging application.  You can download it on the app store here.  We are currently not on Android.  If you have any ideas or criticisms please feel free to visit the contact page.
	</p>
	<div class = "column">
		<div class = "form-centered">
			<%= simple_form_for @visitor do |f| %>
			<%= f.error_notification%>
			<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
			<br/>
			<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
			<% end %>
		</div>
	</div>

</section>