<% content_for :title do %>About<% end %>
<h3>About this Site</h3>
<p>This is a site that integrates with your credit card and tracks your spending.</p>
<p>Please let me know if you have any questions or comments at:</p>
<p>chrsln93@gmail.com</p>