<% content_for :title do %>About<% end %>

<h3>About Incognito</h3>
<p>Incognito is a network run by the people.  We have a few rules for how we operate</p>
<ol>
	<li> We will never take venture capital funding </li>
	<li> We will never do any type of financial public offering or grow very large </li>
	<li> Profits will first go to any sort of IT infastructure costs, then to support the basic needs of developers </li>
	<li> Once we make enough to support ourselves, the company will be established as a non-profit, and what we make above our 'necessities for living' will go elsewhere</li>
	<li> Our users will decide where our profits go, and how the money is used.  We may recommend a few causes or charities, but ultimately, users decide via vote </li>
	<li> Complete transparency: any one can see how the money is being used.  You can see how much we pay ourselves, how much is going to a certain cause.  We will try to be transparent in how our salary is being used as well. (i.e. groceries, rent) </li>

</ol>
<p>if you have any questions or suggestions, please email team@incognitoapp.io</p>